.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px auto 50px;
    text-align: center;
    padding-top: 25px;
    color: white;
    row-gap: 5px;
    padding: 1px;
    text-align: center;
    
   
    
}
.so1{
    background-color: #9e6dff;
    row-gap: 10px;
    column-gap: 20px;
    padding-top:10px ;
    
}